<div class="row mr-5 ml-5">
    <h3 *ngIf="products; else noProduct ">{{title}}</h3>
</div>

<div class="form-group">
    <!--Two-way-Binding-->
    <input class="form-control" id="productName" placeholder="Arama ifadenizi giriniz." [(ngModel)]="filterText">
    <!--FilterTextControl-->
    <small *ngIf="filterText" id="emailHelp" class="form-text text-muted">
        Şu an <strong>{{filterText}}</strong> aradınız.
    </small>
</div>

<div class="row mr-5 ml-5">
    <ng-template #noProduct>
        <div class="alert alert-info" role="alert">
            Bu kategoride ürün yoktur.
            </div>
    </ng-template>
    
    <!--CustomPiper Add Value-->
    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name | uppercase}} - {{product.price | currency:'TRY':true:"1.2-2"}}</h5>
            <p class="card-text">
                {{product.description}}
            </p>
            <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>    
</div>